@import url('https://fonts.googleapis.com/css2?family=Road+Rage&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Road Rage', cursive;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
  list-style: none;
  text-decoration: none;
}

*::selection {
  background-color: var(--bg-color);
  color: var(--txt-color);
}

:root {
  --bg-color:#000000;
  --main-color:#F0A202;
  --txt-color:#ffffff;
  --txt-color2:#800080;

  --big-font: 4.5rem;
  --h1-font:3rem;
  --h2-font: 2.24rem;
  --p-font: 0.9rem;
}

section{
  padding: 50px 10%;
}

body{
  color:var(--txt-color);
  background-color: var(--bg-color);
}

a{
  text-decoration: none;
}

/* Header section */
header{
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 80px;
  background-color: var(--main-color);
}

.logo {
  font-size: 2.8rem;
  font-weight: 500;
  color: var(--txt-color);
}

.logo img{
  width: 50px;
  height: 50px;
  animation: bounce 3s infinite ;
}
@keyframes bounce{
  0%   { transform: translateY(0); }
  30%  { transform: translateY(-30px); }
  50%  { transform: translateY(0); }
  100% { transform: translateY(0); }
}

.navbar{
  display: flex;
}

.navbar a {
  font-size: 1.6rem;
  padding: 8px 20px;
  font-weight: 500;
  color: var(--txt-color2);
}

/* End of Header Section */

/* Home Section */

.home{
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1.5rem;
}

.home-img img{
  width: 100%;
}

.home-text h1{
  font-size: var(--big-font);
}

.home-text p {
  font-size: 2.3rem;
  margin: 1rem 0 1rem;
}

.home-text span{
  color: var(--main-color);
}

.btn {
  display: inline-block;
  background-color:var(--main-color);
  padding: 10px 20px;
  color: var(--txt-color);
  border-radius: 0.5rem;
  font-size: 1.5rem;
}

.btn:hover{
  background-color:#7B9E89 ;
}

/* About Section */

.about {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 1.5rem;
  align-items: center;
  height: 100vh;
}

.about-text span{
  color: #F0A202;
}

.about-text h1 {
  font-size: var(--h1-font);
}


.about-text h2 {
  font-size: var(--h2-font);
}

.about-text p {
  margin: 0.8rem 0 1.8rem;
  font-size: 1.5rem;
}

.about-img img {
  width: 100%;
}

/* Menu */

.heading {
  text-align: center;
}

.heading span {
  color: var(--main-color);
}

.heading h1{
  font-size: var(--h1-font);
}

.heading h2{
  font-size: var(--h2-font);
}

.menu-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, auto));
  gap: 1.5rem;
  align-items: center;
}

.box {
  /* position: relative; */
  margin-top: 2rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px 4px #ccc;
}

.box-img {
  width: 100%;
}

.box-img img {
  width: 100%;
  object-fit: contain;
  object-position: center;
}

.box h2 {
  font-size: 1.2rem;
}

.box span {
  font-size: 1.5rem;
  font-weight: 500;
}

.box .fas{
  font-size: 20px;
  color: var(--main-color);
}

.box .fas:hover{
  color: #7B9E89;
}

/* services */
.services-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, auto));
  gap: 1.5rem;
  margin-top: 2rem;
}

.sv-box{
  text-align: center;
  cursor: pointer;
}

.sv-box img{
  width: 100px;
}

.sv-box h3 {
  margin: 4px 0 10px;
}

.sv-box p{
  font-size: 1.3rem;
}

/* Contact */

.contact{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  gap: 1.5rem;
}

.contact-box h3{
  margin-bottom: 1rem;
  font-size: 2rem;
}

.social {
  display: flex;
  margin-top: 1.5rem;
}

.social i {
  font-size: 20px;
  margin-right: 1rem;
  color: var(--txt-color);
}

.social i:hover {
  color: #7B9E89;
}

.contact-box li a{
  color: var(--txt-color);
  font-size: 1.5rem;
}

.contact li a:hover{
  color:#7B9E89;
}

.address {
  display: flex;
  flex-direction: column;
}

.address span {
  margin-left: 1rem;
}

.copyright {
  padding: 20px;
  text-align: center;
}

.button {
  padding: 5px 8px;
  border-radius: 0 0.5rem 0 0.5rem;
  background-color: #000000;
}

.modal-body{
  color: #000000;
  /* text-align: center; */
  line-height: 1.9rem;
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

 /*gotten inspiration from http://codepen.io/TeshaR/pen/cdugG?editors=110 */
 

/* Toppings and crusts */
.toppings .btn{
  /* float: left; */
  position: relative;
  cursor: pointer;
  border: none;
  text-align: center;
  line-height: 45px;
  margin: 0 7px 11px 0;
  padding: 0 20px;
  border-radius: 3px;
  width: 90%;

}

.toppings {
  padding: 20px;
  border-radius: 3px;
}

.btn-pepperonni {
  background: #ffff00;
  box-shadow: 0 6px #ffb700;
  color: #000;
}

.btn-pepperonni:hover {
  background: #c80e33;
  box-shadow: 0 5px #69071b;
  color: #fff;
}

.btn-pepperonni.active {
  top: 2px;
  box-shadow: 0 2px #890923;
}

.btn-pepperonni.active:hover {
  box-shadow: 0 2px #69071b;
}

.btn-pepperonni:active,
.btn-pepperonni.active:active {
  top: 5px;
  box-shadow: none;
}

.btn-mushrooms {
  background: #ffff00;
  box-shadow: 0 6px #ffb700;
  color: #000;
}

.btn-mushrooms:hover {
  background: #a78774;
  box-shadow: 0 5px #503d33;
  color: #fff;
}

.btn-mushrooms.active {
  top: 2px;
  box-shadow: 0 2px #644d40;
}

.btn-mushrooms.active:hover {
  box-shadow: 0 2px #503d33;
}

.btn-mushrooms:active,
.btn-mushrooms.active:active {
  top: 5px;
  box-shadow: none;
}

.btn-green-peppers {
  background: #ffff00;
  box-shadow: 0 6px #ffb700;
  color: #000;
}

.btn-green-peppers:hover {
  background: #0e7205;
  box-shadow: 0 5px #063102;
  color: #fff;
}

.btn-green-peppers.active {
  top: 2px;
  box-shadow: 0 2px #0a5203;
}

.btn-green-peppers.active:hover {
  box-shadow: 0 2px #063102;
}

.btn-green-peppers:active,
.btn-green-peppers.active:active {
  top: 5px;
  box-shadow: none;
}

.btn-glutten-free {
  background: #ffff00;
  box-shadow: 0 6px #ffb700;
  color: #000;
}

.btn-glutten-free:hover {
  background: #D95D39;
  box-shadow: 0 5px #776800;
  color: #555;
}

.btn-glutten-free.active {
  top: 2px;
  box-shadow: 0 2px #998500;
}

.btn-glutten-free.active:hover {
  box-shadow: 0 2px #776800;
}

.btn-glutten-free:active,
.btn-glutten.active-free:active {
  top: 5px;
  box-shadow: none;
}

.btn-crispy {
  background: #ffff00;
  box-shadow: 0 6px #ffb700;
  color: #000;
}

.btn-crispy:hover {
  background: #7B9E89;
  box-shadow: 0 5px #816253;
  color: #555;
}

.btn-crispy.active {
  top: 2px;
  box-shadow: 0 2px #957160;
}

.btn-crispy.active:hover {
  box-shadow: 0 2px #816253;
}

.btn-crispy:active,
.btn-crispy.active:active {
  top: 5px;
  box-shadow: none;
}

.btn-stuffed {
  background: #ffff00;
  box-shadow: 0 6px #ffb700;
  color: #000;
}

.btn-stuffed:hover {
  background: #F18805;
  box-shadow: 0 5px #816253;
  color: #555;
}

.btn-stuffed.active {
  top: 2px;
  box-shadow: 0 2px #957160;
}

.btn-stuffed.active:hover {
  box-shadow: 0 2px #816253;
}

.btn-stuffed:active,
.btn-stuffed.active:active {
  top: 5px;
  box-shadow: none;
}

.btn-delivery {
  background: #ffff00;
  box-shadow: 0 6px #ffb700;
  color: #000;
}

.btn-delivery:hover {
  background: #F18805;
  box-shadow: 0 5px #816253;
  color: #555;
}

.btn-delivery.active {
  top: 2px;
  box-shadow: 0 2px #957160;
}

.btn-delivery.active:hover {
  box-shadow: 0 2px #816253;
}

.btn-delivery:active,
.btn-delivery.active:active {
  top: 5px;
  box-shadow: none;
}

/* Price */

.price {
  right: 0;
}

.price h2 {
  font-size: 30px;
  font-weight: 300;
  margin-top: 20px;
}

.price h2:after {
  content: ':';
}

.price h1{
  color: red;
}

.price li{
  margin: 5px 20px 0;
  color:#6f6f6f;
  font-size: 1.3rem;
}

.price li:before {
  content: '+ ';
  color: #e2311a;
}

.price strong{
  font-size: 1.5rem;
  display: block;
  margin-top: 1rem;
}

/* Medium */

.toppingsMd .btn{
  /* float: left; */
  position: relative;
  cursor: pointer;
  border: none;
  text-align: center;
  line-height: 45px;
  margin: 0 7px 11px 0;
  padding: 0 20px;
  border-radius: 3px;
  width: 90%;

}

.toppingsMd {
  padding: 20px;
  border-radius: 3px;
}

.btn-pepperonni-md {
  background: #ffff00;
  box-shadow: 0 6px #ffb700;
  color: #000;
}

.btn-pepperonni-md:hover {
  background: #c80e33;
  box-shadow: 0 5px #69071b;
  color: #fff;
}

.btn-pepperonni-md.active {
  top: 2px;
  box-shadow: 0 2px #890923;
}

.btn-pepperonni-md.active:hover {
  box-shadow: 0 2px #69071b;
}

.btn-pepperonni-md:active,
.btn-pepperonni.active:active {
  top: 5px;
  box-shadow: none;
}

.btn-mushrooms-md {
  background: #ffff00;
  box-shadow: 0 6px #ffb700;
  color: #000;
}

.btn-mushrooms-md:hover {
  background: #a78774;
  box-shadow: 0 5px #503d33;
  color: #fff;
}

.btn-mushrooms-md.active {
  top: 2px;
  box-shadow: 0 2px #644d40;
}

.btn-mushrooms-md.active:hover {
  box-shadow: 0 2px #503d33;
}

.btn-mushrooms-md:active,
.btn-mushrooms-md.active:active {
  top: 5px;
  box-shadow: none;
}

.btn-green-peppers-md {
  background: #ffff00;
  box-shadow: 0 6px #ffb700;
  color: #000;
}

.btn-green-peppers-md:hover {
  background: #0e7205;
  box-shadow: 0 5px #063102;
  color: #fff;
}

.btn-green-peppers-md.active {
  top: 2px;
  box-shadow: 0 2px #0a5203;
}

.btn-green-peppers-md.active:hover {
  box-shadow: 0 2px #063102;
}

.btn-green-peppers-md:active,
.btn-green-peppers-md.active:active {
  top: 5px;
  box-shadow: none;
}

.btn-glutten-free-md {
  background: #ffff00;
  box-shadow: 0 6px #ffb700;
  color: #000;
}

.btn-glutten-free-md:hover {
  background: #D95D39;
  box-shadow: 0 5px #776800;
  color: #555;
}

.btn-glutten-free-md.active {
  top: 2px;
  box-shadow: 0 2px #998500;
}

.btn-glutten-free-md.active:hover {
  box-shadow: 0 2px #776800;
}

.btn-glutten-free-md:active,
.btn-glutten.active-free-md:active {
  top: 5px;
  box-shadow: none;
}

.btn-crispy-md {
  background: #ffff00;
  box-shadow: 0 6px #ffb700;
  color: #000;
}

.btn-crispy-md:hover {
  background: #7B9E89;
  box-shadow: 0 5px #816253;
  color: #555;
}

.btn-crispy-md.active {
  top: 2px;
  box-shadow: 0 2px #957160;
}

.btn-crispy-md.active:hover {
  box-shadow: 0 2px #816253;
}

.btn-crispy-md:active,
.btn-crispy-md.active:active {
  top: 5px;
  box-shadow: none;
}

.btn-stuffed-md {
  background: #ffff00;
  box-shadow: 0 6px #ffb700;
  color: #000;
}

.btn-stuffed-md:hover {
  background: #F18805;
  box-shadow: 0 5px #816253;
  color: #555;
}

.btn-stuffed-md.active {
  top: 2px;
  box-shadow: 0 2px #957160;
}

.btn-stuffed-md.active:hover {
  box-shadow: 0 2px #816253;
}

.btn-stuffed-md:active,
.btn-stuffed-md.active:active {
  top: 5px;
  box-shadow: none;
}

.btn-delivery-md {
  background: #ffff00;
  box-shadow: 0 6px #ffb700;
  color: #000;
}

.btn-delivery-md:hover {
  background: #F18805;
  box-shadow: 0 5px #816253;
  color: #555;
}

.btn-delivery-md.active {
  top: 2px;
  box-shadow: 0 2px #957160;
}

.btn-delivery-md.active:hover {
  box-shadow: 0 2px #816253;
}

.btn-delivery-md:active,
.btn-delivery-md.active:active {
  top: 5px;
  box-shadow: none;
}


/* Price */

.priceMd {
  right: 0;
}

.priceMd h2 {
  font-size: 30px;
  font-weight: 300;
  margin-top: 20px;
}

.priceMd h2:after {
  content: ':';
}

.priceMd h1{
  color: red;
}

.priceMd li{
  margin: 5px 20px 0;
  color:#6f6f6f;
  font-size: 1.3rem;
}

.priceMd li:before {
  content: '+ ';
  color: #e2311a;
}

.priceMd strong{
  font-size: 1.5rem;
  display: block;
  margin-top: 1rem;
}


/* large */

.toppingsLg .btn{
  /* float: left; */
  position: relative;
  cursor: pointer;
  border: none;
  text-align: center;
  line-height: 45px;
  margin: 0 7px 11px 0;
  padding: 0 20px;
  border-radius: 3px;
  width: 90%;

}

.toppingsLg {
  padding: 20px;
  border-radius: 3px;
}

.btn-pepperonni-lg {
  background: #ffff00;
  box-shadow: 0 6px #ffb700;
  color: #000;
}

.btn-pepperonni-lg:hover {
  background: #c80e33;
  box-shadow: 0 5px #69071b;
  color: #fff;
}

.btn-pepperonni-lg.active {
  top: 2px;
  box-shadow: 0 2px #890923;
}

.btn-pepperonni-lg.active:hover {
  box-shadow: 0 2px #69071b;
}

.btn-pepperonni-lg:active,
.btn-pepperonni-lg.active:active {
  top: 5px;
  box-shadow: none;
}

.btn-mushrooms-lg {
  background: #ffff00;
  box-shadow: 0 6px #ffb700;
  color: #000;
}

.btn-mushrooms-lg:hover {
  background: #a78774;
  box-shadow: 0 5px #503d33;
  color: #fff;
}

.btn-mushrooms-lg.active {
  top: 2px;
  box-shadow: 0 2px #644d40;
}

.btn-mushrooms-lg.active:hover {
  box-shadow: 0 2px #503d33;
}

.btn-mushrooms-lg:active,
.btn-mushrooms-lg.active:active {
  top: 5px;
  box-shadow: none;
}

.btn-green-peppers-lg {
  background: #ffff00;
  box-shadow: 0 6px #ffb700;
  color: #000;
}

.btn-green-peppers-lg:hover {
  background: #0e7205;
  box-shadow: 0 5px #063102;
  color: #fff;
}

.btn-green-peppers-lg.active {
  top: 2px;
  box-shadow: 0 2px #0a5203;
}

.btn-green-peppers-lg.active:hover {
  box-shadow: 0 2px #063102;
}

.btn-green-peppers-lg:active,
.btn-green-peppers-lg.active:active {
  top: 5px;
  box-shadow: none;
}

.btn-glutten-free-lg {
  background: #ffff00;
  box-shadow: 0 6px #ffb700;
  color: #000;
}

.btn-glutten-free-lg:hover {
  background: #D95D39;
  box-shadow: 0 5px #776800;
  color: #555;
}

.btn-glutten-free-lg.active {
  top: 2px;
  box-shadow: 0 2px #998500;
}

.btn-glutten-free-lg.active:hover {
  box-shadow: 0 2px #776800;
}

.btn-glutten-free-lg:active,
.btn-glutten-free-lg.active:active {
  top: 5px;
  box-shadow: none;
}

.btn-crispy-lg {
  background: #ffff00;
  box-shadow: 0 6px #ffb700;
  color: #000;
}

.btn-crispy-lg:hover {
  background: #7B9E89;
  box-shadow: 0 5px #816253;
  color: #555;
}

.btn-crispy-lg.active {
  top: 2px;
  box-shadow: 0 2px #957160;
}

.btn-crispy-lg.active:hover {
  box-shadow: 0 2px #816253;
}

.btn-crispy-lg:active,
.btn-crispy-lg.active:active {
  top: 5px;
  box-shadow: none;
}

.btn-stuffed-lg {
  background: #ffff00;
  box-shadow: 0 6px #ffb700;
  color: #000;
}

.btn-stuffed-lg:hover {
  background: #F18805;
  box-shadow: 0 5px #816253;
  color: #555;
}

.btn-stuffed-lg.active {
  top: 2px;
  box-shadow: 0 2px #957160;
}

.btn-stuffed-lg.active:hover {
  box-shadow: 0 2px #816253;
}

.btn-stuffed-lg:active,
.btn-stuffed-lg.active:active {
  top: 5px;
  box-shadow: none;
}

.btn-delivery-lg {
  background: #ffff00;
  box-shadow: 0 6px #ffb700;
  color: #000;
}

.btn-delivery-lg:hover {
  background: #F18805;
  box-shadow: 0 5px #816253;
  color: #555;
}

.btn-delivery-lg.active {
  top: 2px;
  box-shadow: 0 2px #957160;
}

.btn-delivery-lg.active:hover {
  box-shadow: 0 2px #816253;
}

.btn-delivery-lg:active,
.btn-delivery-lg.active:active {
  top: 5px;
  box-shadow: none;
}


/* Price */

.priceLg {
  right: 0;
}

.priceLg h2 {
  font-size: 30px;
  font-weight: 300;
  margin-top: 20px;
}

.priceLg h2:after {
  content: ':';
}

.priceLg h1{
  color: red;
}

.priceLg li{
  margin: 5px 20px 0;
  color:#6f6f6f;
  font-size: 1.3rem;
}

.priceLg li:before {
  content: '+ ';
  color: #e2311a;
}

.priceLg strong{
  font-size: 1.5rem;
  display: block;
  margin-top: 1rem;
}


